html, body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#animateButtonWrapper {
    margin: 5px;
}

#animateButton {
    font-size: 20px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

main {
    height: 95vh;
    margin: 15px;
    display: flex;
    flex-direction: row;
    animation-duration: 2s;
    animation-name: fadeIn
}

#worldMapWrapper {
    width: 55vw;
    border: 2px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#worldMapWrapper h1 {
    font-size: 30px;
    margin: 5px;
}

#worldMap {
    margin: 5px;
    border: 2px solid lightgray;
}

#app {
    width: 40vw;
    margin-left: 15px;
    padding: 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

#countrySelection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#countryLabel, #worldButton {
    margin: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

#countryLabel {
    font-size: 30px;
    font-weight: bold;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;
    background: white;
}

button:hover {
    background: gray;
}

form {
    font-weight: bold;
}

#countryForm {
    flex-direction: column;
}

#countryFormDimension {
    margin: 5px;
}

#countryFormTime {
    flex-direction: row;
    margin: 5px;
}

#countryFormButton {
    margin: 5px;;
    font-size: 16px;
}

table {
    /* For shared borders of cells */
    border-collapse: collapse;
}

tr:nth-child(2n+1) {
    background: lightgray;
}

td {
    width: 20vw;
}

.dataCell {
    text-align: right;
}

footer {
    bottom: 1vh;
    position: fixed;
    width: 100%;
    text-align: center;
}
