<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Linear Predictions on the Future</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="shortcut icon" type="image/png" href="index.png">
    </head>
    <body>
        <script src="node_modules/vue/dist/vue.min.js"></script>
        <script src="node_modules/d3/d3.min.js"></script>
        <script src="node_modules/topojson/build/topojson.min.js"></script>
        <script src="node_modules/datamaps/dist/datamaps.world.min.js"></script>
        <script src="node_modules/chart.js/dist/chart.min.js"></script>

        <main>
            <!-- Datamaps does not handle Vue.js very well, so this is excluded from the #app element -->
            <aside id="worldMapWrapper">
                <h1>
                    Linear Predictions on the Future
                </h1>
                <div id="worldMap"></div>
                <div id="animateButtonWrapper">
                    <button id="animateButton" v-on:click="animateButtonClicked">Animate</button>
                </div>
            </aside>
            <aside id="app">
                <div id="countrySelection">
                    <span id="countryLabel">{{ country }}</span>
                    <button id="worldButton" v-on:click="worldButtonClicked">World</button>
                </div>
                <div id="countryStats">
                    <div id="countryForm">
                        <span id="countryFormDimension">
                            Dimension:
                            <select id="dimensionSelection" v-model="dimensionSelected">
                                <option value="CO2Emissions">CO2 Emissions (in tonnes)</option>
                                <option value="FossilFuelConsumption">Fossil Fuel Consumption (in % of energy consumption)</option>
                                <option value="GDP">GDP (in US$)</option>
                                <option value="Population">Population</option>
                                <option value="PopulationGrowth">Population Growth (in %)</option>
                            </select>
                        </span>
                        <div id="countryFormTime">
                            <span>Start Year: <input v-model="startYear" v-on:keyup.enter="countryFormButtonClicked"/></span>
                            <span>End Year: <input v-model="endYear" v-on:keyup.enter="countryFormButtonClicked"/></span>
                        </div>
                        <button id="countryFormButton" v-on:click="countryFormButtonClicked">Submit</button>
                    </div>
                    <h4>Values over Time and Prediction</h4>
                    <div>
                        <canvas id="scatterChart"></canvas>
                        <p>Correlation Coefficient: {{ correlationCoefficient }}</p>
                    </div>
                    <h4>Average Values in Timespan including Predictions excluding before 2019</h4>
                    <table>
                        <tr>
                            <td>
                                CO2 Emissions (in t)
                            </td>
                            <td class="dataCell">
                                {{ CO2Emissions }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fossil Fuel Consumption (in % of total)
                            </td>
                            <td class="dataCell">
                                {{ FossilFuelConsumption }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                GDP (in US$)
                            </td>
                            <td class="dataCell">
                                {{ GDP }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total Population Count
                            </td>
                            <td class="dataCell">
                                {{ Population }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Population Growth (in annual %)
                            </td>
                            <td class="dataCell">
                                {{ PopulationGrowth }}
                            </td>
                        </tr>
                    </table>
                </div>
            </aside>
        </main>

        <footer>
            <span id="footerText">By Valentin, Anton and Lena.</span>
        </footer>

        <script src="index.js"></script>
    </body>
</html>
